// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  background-color: #abdbe3;
  min-height: 100vh;
}
  
.navbar {
    background-color: #fff;
}
  
.navbar-header {
    float: left;
}
  
.navbar-right {
    float: right;
}
  
.fa-twitter {
    color: #00aced;
    font-size: 24px;
}

  #footer {
    font-size: 17px;
  }
  


